/* reset styles */
html {
   font-size: 12px;
}
a, article, body, div, footer, header, h1, h2, h3, nav, p , img, figure, figcaption, aside
form, fieldset, label, legend, input, textarea, select, option,
ul, li{
   border: 0;
   padding: 0;
   margin: 0;
}
img {
   max-width: 100%;
   height: auto;
   width: auto;
}
ul {
   list-style-type: none;
}

/* body and container */
body {
  font-family: Arial, sans-serif;
  background: #3093f7;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  font-family: Arial, sans-serif;
  font-size: 2em;
  line-height: 1.4em;
  color: black;
}

/* Header styling */
header {
  width: 100%;
  background-color: #ffffff; 
  padding: 10px 0;
  text-align: center;
}

header img {
  height: 80px; /* adjust size of your logo */
  display: block;
  margin: 0 auto;
}

.container {
  background: rgb(255, 255, 255);
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 350px;
  text-align: center;
  margin-top: 100px; /* space between header and form */
}
.calendar {
  background: rgb(255, 255, 255);
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 1000px;
  text-align: center;
  margin-top: 100px; /* space between header and form */
}
.confirmation {
  background: rgb(255, 255, 255);
  padding: 50px 110px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(46, 45, 45, 0.1);
  width: 350px;
  text-align: center;
  margin-top: 50px; /* space between header and form */
}
h1 {
  margin-bottom: 20px;
  color: #333;
  font-size: 3em;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

input[type="submit"] {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  transition: background 0.3s ease;
}

input[type="submit"]:hover {
  background: #0056b3;
}

a {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: #007bff;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}

/* table styles */
table {
  margin: 1em auto;
  border: 1px solid grey;
  border-spacing: 0;
  font-size: 2em;
  color: black;
}
th, td {
  border: 1px solid black;
  padding: 0.2em 0.6em;
  height: 80px;
  width: 100px;
  overflow: hidden;
}
th {
  background-color: #181a1b;
  text-align: center;
  font-weight: bold;
}
td a {
  font-size: 1.6em;
  padding: 0.2em 0.6em;
  overflow: hidden;
}